<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit your Listing :</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div  class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div  class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]"  type="text" class="form-control" required><%= listing.description %></textarea>
                    <div class="valid-feedback">Description looks good!</div>
                </div>
                <div class="mb-3 ">
                    <p>Original listing image</p>
                    <img src="<%= originalImageUrl %>">
                </div>   
                <div  class="image-category">
                    <div class="mb-3 col-md-8">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input name="listing[image]" type="file" class="form-control" >
                    </div>
                </div>
                <div class="m-b3">
                    <label for="category" class="form-label">Choose Category</label>
                    <select id="category" name="listing[category]" class="form-select border border-black border-opacity-50 mb-2" type="drowpdown" multiple required style="font-size: .95rem;">
                        <option value="Trending">Trending</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Castles">Castles</option>
                        <option value="Amazing pools">Amazing Pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Domes">Domes</option>
                        <option value="Boats">Boats</option>
                    </select>
                    <div class="invalid-feedback">Choose category name</div>
                </div>
                <div class="row">
                    <div  class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required min="0">
                        <div class="invalid-feedback">Please enter valid price detail</div>
                    </div>
                    <div  class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Please enter valid country name</div>
                    </div>
                </div>
                <div class="mb-3">        
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid country name</div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
                <br/>
                <br>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
